//Break down for moble
$break-large:767px;


.titleWrapper{
	background:black;
	opacity:.5;

	width:90vw;
	height:20vh;

	font-family: 'timeburnerbold';
	font-size:3em;
	color:white;
	text-align:center;

	vertical-align:center;
	line-height:20vh;
	text-shadow: -1px 0 #2f75d8, 0 1px #2f75d8, 1px 0 #2f75d8, 0 -1px #2f75d8;

	border: 1px solid;
	border-color:white;
	border-radius:25px;


    @media screen and (max-width: $break-large){
       	width:100vw;
    }
}



.uploadWrapper{

	padding-top:8vh;
	padding-left:6vw;
    border: 1px solid;
    border-color:white;
    border-radius: 25px;
    width:90vw;
    height:80vh;


	font-family: 'timeburnerbold';
	font-size: 2em;
	color: white;

	&:before{
		z-index:0;
		background-image: url('../../../../assets/home_background.png');
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		content: " ";
		background: inherit; 
		width:inherit;
		height:inherit;
		position: absolute;
		left: 0;
		right: 0;
		top: 0; 
		bottom: 0;
		box-shadow: inset 0 0 0 3000px rgba(28,122,255,0.3);
		filter: blur(10px);

	}

    @media screen and (max-width: $break-large){

       	width:100vw;
       	padding-left:17vw;
    }
}


.uploadBox {
	position:relative;
	z-index:1;
	height: 65vh;
	width:65vw;
	outline: white dotted thick;
	padding-top:28vh;
	text-align: center;
	font-family: 'timeburnerbold';
	font-size: 2em;
	color: white;
	text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000
}


.uploadForm{

	position:relative;
	z-index:1;
	padding-top:1vh;
	line-height:50vw;
	width:60vw;
	max-width:50vw;
	max-height:50vw;
	font-size:7vw;

}