//Break down for moble
$break-large:767px;


@font-face {
    font-family: 'didont';
    src: url(/assets/fonts/didot_font.otf);
}


@font-face {
    font-family: 'northwest_b';
    src: url(/assets/fonts/northwest_b.otf);
}


@font-face {
    font-family: 'blackthrons_black';
    src: url(/assets/fonts/blackthorns_black.ttf);
}


@font-face {
    font-family: 'blackthrons_regular';
    src: url(/assets/fonts/blackthorns_regular.ttf);
}


/*=== 1. General Structure ===*/

html{
  background: #efefef !important;
  padding: 10px;
  font-family: 'blackthrons_regular';
}

/*=== 2. Anchor Link ===*/

a {
  color: #aaaaaa;
  transition: all ease-in-out 200ms;
  &:hover {
    color: #333333;
    text-decoration: none;
  }
}