//Break down for moble
$break-large:767px;

@font-face {
    font-family: 'timeburnerbold';
    src: url(/assets/fonts/timeburnerbold.ttf);
}

/*=== 1. General Structure ===*/

html{
  background: #efefef !important;
  padding: 10px;
  font-family: 'timeburnerbold';
}

/*=== 2. Anchor Link ===*/

a {
  color: #aaaaaa;
  transition: all ease-in-out 200ms;
  &:hover {
    color: #333333;
    text-decoration: none;
  }
}