header, footer {
    font-family:'blackthrons_regular';
    padding-bottom: 1em;
    min-height:5em;
    color: white;
	background:repeating-linear-gradient(45deg, #A4DE4B, #E0F4D8);
    clear: left;
    text-align: center;
    .logo{	
    	font-size:12vw;
  		font-weight:bold;
        width:100%;
    	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
  	}
}

.module{
    //padding-top:20vh;
}


.contianer{
    background-image: url("../../assets/home_background.png");
    background-size: cover;
}

.wrapper {
    display: flex;
    align-items: stretch;
}


.sidebar {
    background:repeating-linear-gradient(90deg,#49B7C6, #9BE3D5);
    min-height: 100vh;
    border-left: 1px solid;
    border-color:#000000;
    ul{
	    list-style-type: none;
	    padding: 0;

	    li{
            div{
                text-align: center;
                width:100%;
            }

	    }
    }

    .btn{
        font-family: 'blackthrons_regular';
        font-size:12px;
    }
}