<!-- All the files that are required -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<header>
	<div class="col-xs-12">
		<div class="logo">
			<h1>Probatinator</h1>
		</div>
	</div>
</header>
	<div class="contianer">
		<div *ngIf="pc===true; then pcBlock; else mobileBlock"></div>
	</div>
<footer>
</footer>

<!-- Template for PC -->
<ng-template #pcBlock>
	<div class="row">
		<div class="col-xs-2">
			<nav class="sidebar">
				<ul>
					<li>
						<div class="btn btn-primary" 
						(click)="getUpload($event)">Upload</div>
					</li>
					<li>
						<div class="btn btn-primary" 
						(click)="getMyFiles($event)">My Files</div>
					</li>
					<li>
						<div class="btn btn-primary" 
						(click)="logout($event)">Log Out</div>
					</li>
				</ul>
			</nav>
		</div>
		<div *ngIf="uploadpos===true">
		 	<div class="col-xs-8 offset-xs-1">
				<div class="module">
					<app-upload></app-upload>
				</div>
			</div>
		</div>
		<div *ngIf="myfilespos===true">
			<div class="col-xs-8 offset-xs-1">
				<div class="module">
					<app-run></app-run>
				</div>
			</div>
		</div>
	</div>
</ng-template>

<!-- Template for Mobile -->
<ng-template #mobileBlock>
	<div class="row">
		<div class="col-xs-12">
			<nav class="sidebar">
				<ul>
					<li>
						<div class="btn btn-primary" 
						(click)="getUpload($event)">Upload</div>
					</li>
					<li>
						<div class="btn btn-primary" 
						(click)="getMyFiles($event)">My Files</div>
					</li>
					<li>
						<div class="btn btn-primary" 
						(click)="logout($event)">Log Out</div>
					</li>
				</ul>
			</nav>
		</div>


		<div *ngIf="uploadpos===true">
			<div class="col-xs-12">
				<div class="module">
					<app-upload></app-upload>
				</div>
			</div>
		</div>
		<div *ngIf="myfilespos===true">
			<div class="col-xs-12">
				<div class="module">
					<app-run></app-run>
				</div>
			</div>
		</div>
	</div>
</ng-template>
