<!-- All the files that are required -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<header>
	<div class="col-xs-12">
		<div class="logo">
			<h1>Probatinator</h1>
		</div>
	</div>
</header>
<div class="contianer">
	<div class="row">
		<div class="col-xs-2">
			<nav class="sidebar">
				<ul>
					<li>
						<div class="btn btn-primary" 
						(click)="getUpload($event)">Upload</div>
					</li>
					<li>
						<div class="btn btn-primary" 
						(click)="getMyFiles($event)">My Files</div>
					</li>
					<li>
						<div class="btn btn-primary" 
						(click)="logout($event)">Log Out</div>
					</li>
				</ul>
			</nav>
		</div>

	<!-- Where all the magic happens -->
	<!-- LOGIN FORM -->

		<!--<div id="content">-->
		<div *ngIf="uploadPos===true" class="col-xs-8 offset-xs-1">
			<div class="module">
				<app-upload></app-upload>
			</div>
		</div>
		<div *ngIf="myFilesPos===true" class="col-xs-8 offset-xs-1">
			<div class="module">
				<app-run [files]="files"></app-run>
			</div>
		</div>
	</div>
<!--<div class="col-xs-9 pull-right" id="appUpload">
				<app-upload></app-upload>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-9 pull-right" id="appRun">
				<app-run [files]="files"></app-run>
			</div>
		</div>
	<!--</div>-->
</div>
<footer>
</footer>
